.cta.cta-centered {
  text-align: center;
  padding: var(--gap-lg) 0;
}

.cta h2 {
  font-size: var(--heading-font-size-xl);
  color: var(--text-color);
  margin-bottom: var(--gap-sm);
}

.cta p {
  color: var(--dark-color);
  font-size: var(--body-font-size-m);
  margin-bottom: var(--gap-md);
}

.cta .button-wrapper {
  margin-top: var(--gap-md);
}

.cta a.button.accent {
  padding: 0.75em 2em;
  font-size: var(--body-font-size-s);
}
